## Exercise 1
List of basic linux commands

## Exercise 2
Install and configure hadoop

## Excercise 3
Implement a simple map-reduce code for the wordcount problem using Java/Python (Create the jar files and run the code using HDFS)

## Excercise 4
Implement map reduce for NCDC weather dataset using hadoop find the max and min temperature

Implement apriori algorithm using map reduce paradigm

## Excercise 5
Run the wordcount program using pyspark

In [39]:
from pyspark import SparkContext

# Initialize Spark Context
sc = SparkContext("local", "WordCount")

# Read input file (change 'input.txt' to your file path)
input_file = sc.textFile("new.txt")

# Split each line into words, flatten the list, and map to (word, 1) pairs
word_counts = input_file.flatMap(lambda line: line.split(" ")) \
                        .map(lambda word: (word, 1)) \
                        .reduceByKey(lambda a, b: a + b)

# Collect results and print them
results = word_counts.collect()

for word, count in results:
    print(f"{word}: {count}")

24/11/03 19:00:30 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

Apache: 1
Spark: 4
is: 4
a: 3
fast: 1
and: 5
general-purpose: 1
cluster: 1
computing: 1
system.: 1
provides: 1
an: 1
interface: 1
for: 3
programming: 1
entire: 1
clusters: 1
with: 1
implicit: 1
data: 3
parallelism: 1
fault: 1
tolerance.: 1
It: 1
designed: 1
to: 2
make: 1
processing: 1
faster: 1
more: 1
accessible.: 1
The: 1
ecosystem: 1
includes: 1
components: 1
SQL,: 1
streaming: 1
data,: 1
machine: 1
learning,: 1
graph: 1
processing.: 1
With: 1
Spark,: 1
you: 1
can: 1
process: 1
large: 1
datasets: 1
efficiently,: 1
scaling: 1
from: 1
single: 1
server: 1
thousands: 1
of: 1
machines.: 1
used: 1
widely: 1
across: 1
industries: 1
top: 1
choice: 1
big: 1
analytics.: 1
: 1

## Excercise 5
Run wordcount program using pyspark. Use the movielens dataset and find the ratings distribution for each movie

In [1]:
from pyspark import SparkConf, SparkContext
import collections

conf = SparkConf().setMaster("local").setAppName("movielens")
sc = SparkContext(conf = conf)

lines = sc.textFile("u.data")
ratings = lines.map(lambda x: x.split()[2])
result = ratings.countByValue()

for key, value in result.items():
    print(key,value)

24/11/03 14:17:13 WARN Utils: Your hostname, malathi-virtual-machine resolves to a loopback address: 127.0.1.1; using 192.168.20.128 instead (on interface ens33)
24/11/03 14:17:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/03 14:17:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/11/03 14:17:17 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

3 27145
1 6110
2 11370
4 34174
5 21201

In [2]:
sc.stop()

## Exercise 6
Use the "friends_test" dataset. Col1 is ID. Col2 is name, Col3 is age, Col4 is num of friends. Understand mapvalues function of RDD in spark and find the average number of friends for each unique age present in the dataset

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [4]:
spark = SparkSession.builder \
    .appName("friends test") \
    .config("spark.memory.offHeap.enabled", "true") \
    .config("spark.memory.offHeap.size", "2g") \
    .getOrCreate()

24/11/03 17:39:00 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
df = spark.read.csv('friends_test.csv', header=False)

In [7]:
df.explain()

== Physical Plan ==
FileScan csv [_c0#17,_c1#18,_c2#19,_c3#20] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/hadoop/friends_test.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<_c0:string,_c1:string,_c2:string,_c3:string>

In [8]:
df.head(5)

[Row(_c0='0', _c1='Will', _c2='33', _c3='385'),
 Row(_c0='1', _c1='Jean-Luc', _c2='26', _c3='2'),
 Row(_c0='2', _c1='Hugh', _c2='55', _c3='221'),
 Row(_c0='3', _c1='Deanna', _c2='40', _c3='465'),
 Row(_c0='4', _c1='Quark', _c2='68', _c3='21')]

In [9]:
df.show()

+---+--------+---+---+
|_c0|     _c1|_c2|_c3|
+---+--------+---+---+
|  0|    Will| 33|385|
|  1|Jean-Luc| 26|  2|
|  2|    Hugh| 55|221|
|  3|  Deanna| 40|465|
|  4|   Quark| 68| 21|
|  5|  Weyoun| 59|318|
|  6|  Gowron| 37|220|
|  7|    Will| 54|307|
|  8|  Jadzia| 38|380|
|  9|    Hugh| 27|181|
| 10|     Odo| 53|191|
| 11|     Ben| 57|372|
| 12|   Keiko| 54|253|
| 13|Jean-Luc| 56|444|
| 14|    Hugh| 43| 49|
| 15|     Rom| 36| 49|
| 16|  Weyoun| 22|323|
| 17|     Odo| 35| 13|
| 18|Jean-Luc| 45|455|
| 19|  Geordi| 60|246|
+---+--------+---+---+
only showing top 20 rows

In [10]:
type(df)

pyspark.sql.dataframe.DataFrame

In [11]:
spark.stop()

In [12]:
# RDD approach for average number of friends
conf = SparkConf().setAppName("Basicapp").setMaster("local[*]")
sc = SparkContext(conf = conf)

24/11/03 17:45:59 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [14]:
rdd = sc.textFile("friends_test.csv")
rdd.first()

'0,Will,33,385'

In [15]:
rdd_split = rdd.map(lambda line: line.split(","))
for row in rdd_split.take(5):
    print(row)

['0', 'Will', '33', '385']
['1', 'Jean-Luc', '26', '2']
['2', 'Hugh', '55', '221']
['3', 'Deanna', '40', '465']
['4', 'Quark', '68', '21']

In [16]:
age_friends_rdd = rdd_split.map(lambda row: (int(row[2]), (int(row[3]), 1)))

sum_count_rdd = age_friends_rdd.reduceByKey(lambda a, b: (a[0]+b[0], a[1]+b[1]))

In [17]:
avg_friends_by_age = sum_count_rdd.mapValues(lambda x: x[0]/x[1])
sorted_avg_friends_by_age = avg_friends_by_age.sortByKey()

In [20]:
for age, avg_friends in sorted_avg_friends_by_age.collect():
    print(f"Age: {age}, Average Number of Friends: {avg_friends: .2f}")

Age: 18, Average Number of Friends:  343.38
Age: 19, Average Number of Friends:  213.27
Age: 20, Average Number of Friends:  165.00
Age: 21, Average Number of Friends:  350.88
Age: 22, Average Number of Friends:  206.43
Age: 23, Average Number of Friends:  246.30
Age: 24, Average Number of Friends:  233.80
Age: 25, Average Number of Friends:  197.45
Age: 26, Average Number of Friends:  242.06
Age: 27, Average Number of Friends:  228.12
Age: 28, Average Number of Friends:  209.10
Age: 29, Average Number of Friends:  215.92
Age: 30, Average Number of Friends:  235.82
Age: 31, Average Number of Friends:  267.25
Age: 32, Average Number of Friends:  207.91
Age: 33, Average Number of Friends:  325.33
Age: 34, Average Number of Friends:  245.50
Age: 35, Average Number of Friends:  211.62
Age: 36, Average Number of Friends:  246.60
Age: 37, Average Number of Friends:  249.33
Age: 38, Average Number of Friends:  193.53
Age: 39, Average Number of Friends:  169.29
Age: 40, Average Number of Friends:  250.82
Age: 41, Average Number of Friends:  268.56
Age: 42, Average Number of Friends:  303.50
Age: 43, Average Number of Friends:  230.57
Age: 44, Average Number of Friends:  282.17
Age: 45, Average Number of Friends:  309.54
Age: 46, Average Number of Friends:  223.69
Age: 47, Average Number of Friends:  233.22
Age: 48, Average Number of Friends:  281.40
Age: 49, Average Number of Friends:  184.67
Age: 50, Average Number of Friends:  254.60
Age: 51, Average Number of Friends:  302.14
Age: 52, Average Number of Friends:  340.64
Age: 53, Average Number of Friends:  222.86
Age: 54, Average Number of Friends:  278.08
Age: 55, Average Number of Friends:  295.54
Age: 56, Average Number of Friends:  306.67
Age: 57, Average Number of Friends:  258.83
Age: 58, Average Number of Friends:  116.55
Age: 59, Average Number of Friends:  220.00
Age: 60, Average Number of Friends:  202.71
Age: 61, Average Number of Friends:  256.22
Age: 62, Average Number of Friends:  220.77
Age: 63, Average Number of Friends:  384.00
Age: 64, Average Number of Friends:  281.33
Age: 65, Average Number of Friends:  298.20
Age: 66, Average Number of Friends:  276.44
Age: 67, Average Number of Friends:  214.62
Age: 68, Average Number of Friends:  269.60
Age: 69, Average Number of Friends:  235.20

## Exercise 6
Use the "temp.csv" dataset. Column headers are present in the dataset. Understand filter operations and filter out only the "TMIN" values from the "desc" column. With the resultant data (RDD) find the following
a. minimum temperature (overall)
b. minimum temperature for every ItemID
c. minimum temperature for every StationID

Use the same dataset, filter onlt "TMAX" column and find the maximum temperatures just like the ones mentioned above

In [23]:
conf = SparkConf().setAppName("temp_dataset").setMaster("local[*]")
sc = SparkContext(conf=conf)

24/11/03 18:18:31 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [24]:
rdd = sc.textFile("temp.csv")
rdd.first()

'itemID,stationID,desc,temp'

In [26]:
rdd_header = rdd.first()
rdd_filter = rdd.filter(lambda row: row!= rdd_header)
rdd_data = rdd_filter.map(lambda row: row.split(","))

In [27]:
def rdd_display(x, threshold=5):
    count=0
    for i in x.collect():
        print(i)
        count+=1
        if(count>threshold):
            break

In [28]:
rdd_display(rdd_data)

['ITE00100554', '18000101', 'TMAX', '-75']
['ITE00100554', '18000101', 'TMIN', '-148']
['GM000010962', '18000101', 'PRCP', '0']
['EZE00100082', '18000101', 'TMAX', '-86']
['EZE00100082', '18000101', 'TMIN', '-135']
['ITE00100554', '18000102', 'TMAX', '-60']

In [29]:
rdd_TMIN_filter = rdd_data.filter(lambda row: row[2]=="TMIN")
rdd_display(rdd_TMIN_filter)

['ITE00100554', '18000101', 'TMIN', '-148']
['EZE00100082', '18000101', 'TMIN', '-135']
['ITE00100554', '18000102', 'TMIN', '-125']
['EZE00100082', '18000102', 'TMIN', '-130']
['ITE00100554', '18000103', 'TMIN', '-46']
['EZE00100082', '18000103', 'TMIN', '-73']

In [30]:
rdd_min_overall = rdd_TMIN_filter.map(lambda x: int(x[3])).reduce(lambda a, b: a if a < b else b)
print("Minimum temperature overall:", rdd_min_overall)

Minimum temperature overall: -148

In [32]:
rdd_min_itemID = rdd_TMIN_filter.map(lambda x:(x[0],int(x[3]))).reduceByKey(lambda a, b: a if a < b else b)
print("minimum temperature by itemID")
rdd_display(rdd_min_itemID)

minimum temperature by itemID

('ITE00100554', -148)
('EZE00100082', -135)

In [33]:
rdd_min_stationID = rdd_TMIN_filter.map(lambda x:(x[1],int(x[3]))).reduceByKey(lambda a, b: a if a < b else b)
print("minimum temperature by StationID")
rdd_display(rdd_min_stationID,10)

minimum temperature by StationID

('18000102', -130)
('18000104', -74)
('18000106', -57)
('18000110', -75)
('18000111', -62)
('18000112', -60)
('18000114', -35)
('18000115', -23)
('18000116', -37)
('18000117', -35)
('18000118', 9)

In [34]:
rdd_TMAX_filter = rdd_data.filter(lambda row:row[2]=="TMAX")
rdd_display(rdd_TMAX_filter)

['ITE00100554', '18000101', 'TMAX', '-75']
['EZE00100082', '18000101', 'TMAX', '-86']
['ITE00100554', '18000102', 'TMAX', '-60']
['EZE00100082', '18000102', 'TMAX', '-44']
['ITE00100554', '18000103', 'TMAX', '-23']
['EZE00100082', '18000103', 'TMAX', '-10']

In [35]:
rdd_max_overall = rdd_TMAX_filter.map(lambda x: int(x[3])).reduce(lambda a, b: a if a > b else b)
print("Maximum temperature overall:", rdd_max_overall)

Maximum temperature overall: 323

In [36]:
rdd_max_itemID = rdd_TMAX_filter.map(lambda x:(x[0],int(x[3]))).reduceByKey(lambda a, b: a if a > b else b)
print("maximum temperature by itemID")
rdd_display(rdd_max_itemID)

maximum temperature by itemID

('ITE00100554', 323)
('EZE00100082', 323)

In [37]:
rdd_max_stationID = rdd_TMAX_filter.map(lambda x:(x[1],int(x[3]))).reduceByKey(lambda a, b: a if a > b else b)
print("maximum temperature by StationID")
rdd_display(rdd_max_stationID,10)

maximum temperature by StationID

('18000102', -44)
('18000104', 0)
('18000106', 13)
('18000110', 46)
('18000111', 66)
('18000112', 41)
('18000114', 41)
('18000115', 54)
('18000116', 56)
('18000117', 84)
('18000118', 59)

In [38]:
sc.stop()